<section class="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        Get Body in shape, <br /><span class="hero-italic">Stay healthy</span>
      </h1>
      <p class="hero-text">
        Physical exercise is one of the best ways to keep your body, mind, and
        spirit healthy and strong.
      </p>
    </div>

    <div class="quote-wrapper hidden" id="quote-wrapper">
      <div class="quote-card">
        <div class="quote-icon">
          <svg width="20" height="20" aria-label="Quote icon">
            <use href="./img/sprite.svg#icon-quote"></use>
          </svg>
        </div>
        <div class="quote-content-box">
          <h3 class="quote-heading">Quote of the day</h3>
          <p class="quote-text" id="quote-text"></p>
          <p class="quote-author" id="quote-author"></p>
        </div>
      </div>
      <div class="quote-image"></div>
    </div>
  </div>
</section>
