<section class="quote-section">
  <div class="container">
    <div class="quote-wrapper hidden" id="quote-wrapper">
      <div class="quote-card">
        <div class="quote-icon">
          <svg width="20" height="20" aria-label="Quote icon">
            <use href="/sprite.svg#icon-quote"></use>
          </svg>
        </div>
        <div class="quote-content-box">
          <h3 class="quote-heading">Quote of the day</h3>
          <p class="quote-text" id="quote-text"></p>
          <p class="quote-author" id="quote-author"></p>
        </div>
      </div>
      <div class="quote-image"></div>
    </div>
  </div>
</section>
