:root {
  --font-family: 'Montserrat', sans-serif;

  --black: #1b1b1b;
  --dark-gray: #242424;
  --white: #f4f4f4;
  --white-transparent: rgba(244, 244, 244, 0.6);
  --accent-color: #f4f4f4;

  --transition-time: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font-family);
  background-color: var(--black);
  color: var(--white);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
}
