.footer {
  padding: 40px 0;
  border-top: 1px solid rgba(244, 244, 244, 0.1);
  margin-top: auto; /* Притискає футер до низу */
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-tagline {
  margin-top: 10px;
  color: var(--white-transparent);
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
  }
}

.form-input {
  padding: 12px 16px;
  border-radius: 30px;
  border: 1px solid var(--white-transparent);
  background-color: transparent;
  color: var(--white);
  font-family: inherit;
}

.form-btn {
  padding: 12px 24px;
  border-radius: 30px;
  background-color: var(--white);
  color: var(--black);
  font-weight: 500;
  transition: transform var(--transition-time);
}

.form-btn:hover {
  transform: scale(1.05);
}

.footer-bottom {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: var(--white-transparent);
}
