.header {
  padding: 20px 0;
  border-bottom: 1px solid rgba(244, 244, 244, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-accent {
  color: var(--white-transparent);
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-link {
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: background-color var(--transition-time),
    border-color var(--transition-time);
}

.nav-link.active {
  background-color: var(--dark-gray);
  border-color: var(--white);
}

.header-socials {
  display: flex;
  gap: 10px;
}

/* Приховуємо соцмережі на мобільному (згідно з вимогами, це буде в бургері, але поки так) */
@media screen and (max-width: 767px) {
  .header-socials {
    display: none;
  }
}
